*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    padding: 10px 8vw;
    width: 100%;
}
nav div{
    display: flex;
    align-items: center;
}
nav div img{
    padding-right: 1vw;
}
.color{
    color: #FFDC26;
}
nav div i{
    font-size: 1.5vw;
}
.menu{
    gap: 7vw;
}
.content{
    gap: 2vw;
}
.menuber{
    gap: 1vw;
    align-items: center;
}
.btn-1, .btn-2{
    padding: .3vw 1.5vw;
    border-radius: 8px;
    font-size: 1rem;
    border: #FFDC26 solid 2px;
}
.btn-1{
    background-color: #FFF9F4;
}
.btn-2{
    background-color: #FFDC26;
}
.ri-menu-line{
    display: none;
}

@media (max-width:600px) {
    .menu{
        display: none;
    }
    .navber{
        align-items: center;
    }
    .ri-menu-line{
        display: block;
        font-size: 40px;
    }
}